body{
    background-image: url("/images/pexels-pixabay-221457.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color:white;
    text-align: center;
}
