body { 
    margin:0;
    padding:0;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.navbar {
    padding:20px 0;
    background-color: rgb(104, 93, 93);
    text-align: center;
    }
.navbar img {
      height: 25px;
      vertical-align: middle;
    }
.navbar span {
      margin-left: 10px;
      font-style: italic;
    }

    .nav-links {
      display: flex;
      gap: 20px;
    }
    .nav-links a {
      color: #ffffff;
      text-decoration: none;
      font-weight: bold;
    }
    .tagline {
      font-style: italic;
      margin-left: 15px;
    }